# Where to resolve packages from
registry=https://nexus3.deveng.systems/repository/NPM/
@argos:registry=https://nexus3.deveng.systems/repository/argos-npm/

# Fallbacks to NPM
@storybook:registry=https://registry.npmjs.org

# an email is required to publish npm packages
email=awais.waheed@sainsburys.co.uk
_auth=bWljaGFlbC5jaGFoYXJiYWdoaUBhcmdvcy5jby51azpEZXZlbmdjaGFyYjk1IQ==

# Save installed packages to a package.json file as dependencies.
save = true

# Ignore npm-shrinkwrap.json files when installing / do not create
shrinkwrap = false

# Ignore package-lock on installing deps / do not create
package-lock = false
